.prj_tail {
    top: 10px;
    left: 4px;
    height: calc(100% - 10px);
    border-left: 2px solid #f0f0f0;
}

.prj_head {
    left: 0px;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border: 2px lightseagreen solid;
    border-radius: 100%;
}

.inline-icon {
    vertical-align: bottom;
    font-size: 24px !important;
}